.tab-content>.active.order {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  background-color: white !important;
}

.subOrder {
  /* border-radius: 20px; */
  width: 300px;
  background-color: rgb(230, 230, 230) !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border-radius: 1rem;
  margin: 1rem;
  padding: 20px;
}

.nav-link {
  color: black !important;
  /* Establece el color del texto del enlace en negro */
  text-decoration: none !important;
  /* Elimina el subrayado del enlace */
}

.pStyle {
  width: 300px;
  margin-bottom: 0px;
  color: #212529;
  font-size: 18px;
}

.btnStyle {
  margin-left: 10rem;
}