.order{
    
    margin-top: 5px;
   background-color: lightblue;
   box-shadow: 2px 2px gray;
   border-radius: 20px;

}

.subOrder{
    /* border-radius: 20px; */
    border-bottom: solid white;
    border-radius: 20px;
    padding: 20px;
}

