.card-white {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-white:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.card-yellow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-yellow:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}